    .responsive-text {
        font-size: 1vw;
    }
    
    @media (min-width: 576px) {
        .responsive-text {
            font-size: 0.5vw;
        }
    }
    
    @media (min-width: 768px) {
        .responsive-text {
            font-size: 0.75vw;
        }
    }